.clickable{
    cursor: pointer;
}

.big-button{
  padding: 25px 45px;
  border-radius: 40px;
  font-family: "Fredoka One", cursive;
  &.bg-yellow:hover{
    background-color: $both-primary;
    box-shadow: 0px 0px 10px 1px #000;
  }
  &:hover{
    background-color: $both-yellow;
  }
} 

.small-button{
  padding: 12px 24px;
  border-radius: 40px;
  font-family: "Fredoka One", cursive;
} 

.font-35{
  font-size: 35px;
  font-family: 'Fredoka One', cursive;
}

.image-primary {
  filter: brightness(0) saturate(100%) invert(50%) sepia(67%) saturate(499%)
    hue-rotate(121deg) brightness(99%) contrast(85%);
}

.image-grey{
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(47deg) brightness(92%) contrast(92%);
}

//^COLORS


.color-primary{
  color: $both-primary;
}

.bg-color-primary{
  background-color: $both-primary;
}

.color-yellow {
  color: $both-yellow;
}

.bg-yellow {
  background-color: $both-yellow;
}
