//^BACKGROUND-COLORS AND TEXT-COLORS
$both-yellow:#E9D758;
$both-primary:#20AD96;
$both-dark-grey:#454545;
$both-dark-blue:#3D404F;

//^BACKGROUND-COLORS
$bg-lightest-grey: #FFFF80;
$bg-lighter-grey: #FAFAFA;
$bg-light-grey: #F7F8FA;
$bg-dark-green: #2E8A7A;
$bg-red:#DB2A2C;
$bg-darker-red:#DA5F60E6;
$bg-darker-grey:#000000CC;

//^TEXT-COLORS
$other-white:#FFFFFFCC;
$green:#79B530;
$light-grey:#8B8B8A;
$grey:#7F7F7F;
$darker-grey:#74777B;
$grey-blue:#70727E;
$darker-grey-blue:#5C5E6C;
$dark-blue:#434959;
$darkest-grey:#3F3F3F;
$darkest-blue:#223441;
$grey-25:#252525;
$other-black:#151515;

//^FILL-COLORS
$fill-green-fluo:#69DE89;
$fill-green:#82B541;

//^BORDER-COLORS
$border-lightest-grey:#ECECEE;
$border-lighter-grey:#E5ECEF;
$border-light-grey:#EAEAEA;
$border-grey:#CCCCCC;
$border-green:#79B530;